<div class="container" ng-controller='licenseCtrl as ctrl'>
  <h5>List of All Common Licenses</h5>
  <div ng-show="ctrl.loader1" id='dataload'><p>Please wait while remote data loads...</p></div>

  <table class="u-full-width" ng-show="ctrl.box">
    <thead>
      <tr>
        <td>
          Name
        <td>
          License Count
      </td>
    </tr>
  </thead>
  <tbody>
    <div  ng-show="ctrl.box">
      Search: <input ng-model="query">
      Sort by:
      <select ng-model="orderByField">
        <option selected value="statCount">License Count</option>
        <option value="statDesc">Name</option>
      </select>
    </div>

    <tr ng-repeat="stat in ctrl.Stats | orderBy: orderByField | filter:query">
      <td>
        <a href="" ng-click="getDescription(stat.statDesc)">{{stat.statDesc}}</a>
      </td>
      <td>
        {{stat.statCount | number }}
      </td>
    </tr>
  </tbody>

</div>

<!-- License Details  -->
  <div ng-show='ctrl.loader2' id='dataload'><p>Please wait while remote data loads...</p></div>
    <div class="container" ng-show="ctrl.desc">
      <h5>License Details <div ng-hide='ctrl.desc'><p>(Please wait for remote data to load)</p></div> </h5>

    <div ng-show="ctrl.desc">
      Filter results: <input ng-model="query">
    </div>

      <table class="u-full-width" ng-show="ctrl.desc">
        <thead>
          <tr>
            <td>
              License Name
            </td>
            <td>
              Call Sign
            </td>
            <td>
              License Detail URL
            </td>
            <td>
              Category Description
            </td>
            <td>
              Expiration Date
            </td>
            <td>
              frn
            </td>
            <td>
              License ID
            </td>
            <td>
              Service Description
            </td>
            <td>
              Status
            </td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="license in ctrl.license | filter:query">
            <td>
              {{license.licName}}
            </td>
            <td>
              {{license.callsign}}
            </td>
            <td>
              <a href="{{license.licDetailURL}}" target="_blank">Get details</a>
            </td>
            <td>
              {{license.categoryDesc}}
            </td>
            <td>
              {{license.expiredDate}}
            </td>
            <td>
              {{license.frn}}
            </td>
            <td>
              {{license.licenseID}}
            </td>
            <td>
              {{license.serviceDesc}}
            </td>
            <td>
              {{license.statusDesc}}
            </td>
          </tr>
        </tbody>
      </table>

  </div>
</table>
